<!-- seller sign up -->
<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!showLogin">
  <label for="email">email</label>
  <input type="email" formControlName="email" />
  <label for="name">name</label>
  <input type="text" formControlName="userName" />
  <label for="password">password</label>
  <input type="password" formControlName="password" />
  <button type="submit" class="submit">sign up</button>
  <a (click)="openLogin()" class="button">already have acc login</a>
</form>

<!-- seller login -->
{{authError}}
<form #sellerForm="ngForm" (ngSubmit)="getSellerData(sellerForm.value)" *ngIf="showLogin">
  <label for="email">email</label>
  <input type="email" ngModel name="email"  />
  <label for="password">password</label>
  <input type="password" ngModel name="password"  />
  <button type="submit" class="submit">login</button>
  <a (click)="openSignUp()" class="button">new user sign up</a>
</form>
