<nav>
  <h2><a routerLink="/">Buy-Cart</a></h2>
  <div *ngIf="menuType === 'default'" class="productSearch">
    <input type="text" name="productSearch" id="productSearch" />
    <button type="submit">search</button>
  </div>
  <div [ngSwitch]="menuType">
    <ul *ngSwitchCase="'default'">
      <li><a routerLink="/">home</a></li>
      <li><a routerLink="seller">seller</a></li>
      <!-- <li><a routerLink="">login</a></li> -->
      <!-- <li><a routerLink="">cart</a></li> -->
    </ul>
    <ul *ngSwitchCase="'seller'">
      <li><a routerLink="/">add product</a></li>
      <li><a routerLink="seller">product list</a></li>
      <li><a (click)="logOut()">log out</a></li>
      <li><a href="#">{{sellerName | titlecase}}</a></li>
      <!-- <li>{{sellerName}}</li> -->
    </ul>
  </div>
</nav>
